body{
	font-family: sans-serif;
}

h4{
	display: inline;
}

.message-box{
	border: 2px solid;
  border-radius: 25px;
  width: 400px;
  text-align: center;
  padding: 10px;
}

table#score-table{
	width: 400px;
	border-collapse: collapse;
	border: 1px solid black;
}

#score-table-ids{
	font-size: 60%;
}